.heading-1 {
  font-family: "MADE Coachella";
  font-weight: lighter;
  font-size: 7rem;
  line-height: 1;

  @media (max-width: 900px) {
    font-size: 5rem;
  }

  span {
    font-weight: bolder;
  }
}

.heading-2 {
  font-family: "MADE Coachella";
  font-weight: lighter;
  font-size: 4rem;
  line-height: 1;

  span {
    font-weight: bolder;
  }
}

.heading-3 {
  font-family: "MADE Coachella";
  font-weight: lighter;
  font-size: 2.5rem;
  line-height: 1;

  span {
    font-weight: bolder;
  }
}

.heading-4 {
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: lighter;
  line-height: 1;
}